.Button{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: 2px solid rgb(36, 47, 196);
    border-radius: 40px;
    margin-top: 2em;
    background-color: rgb(74, 54, 184);
}

.Button p{
    color: rgb(110, 110, 110);
    font-size: 1.2em;
    margin: 8px 60px;
    padding-top: 5px;
}

.Button:hover{
    background-color: withe;
    border: 2px solid rgb(14, 3, 168);
    font-weight: bold;
}

.Button:hover p{
    color: rgb(28, 0, 128);
}