.Button{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: 2px solid rgb(36, 47, 196);
    border-radius: 40px;
    margin-top: 2em;
    background-color: rgb(74, 54, 184);
}

.Button p{
    color: rgb(110, 110, 110);
    font-size: 1.2em;
    margin: 8px 60px;
    padding-top: 5px;
}

.Button:hover{
    background-color: withe;
    border: 2px solid rgb(14, 3, 168);
    font-weight: bold;
}

.Button:hover p{
    color: rgb(28, 0, 128);
}
.Button-light{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: 2px solid rgb(53, 53, 56);
    border-radius: 40px;
    margin-top: 2em;
    margin-left: 480px;
    background-color: rgb(255, 255, 255);
}

.Button-light p{
    color: rgb(66, 52, 192);
    font-size: 1.2em;
    margin: 8px 60px;
    padding-top: 5px;
}

.Button-light:hover{
    background-color: rgb(67, 61, 148);
    border: 2px solid transparent;
    font-weight: bold;
}

.Button-light:hover p{
    color: rgb(255, 255, 255);
}